language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  
cache: 
  apt: true
  bundler: true

install:
  travis_retry composer install --no-interaction --prefer-source

script: vendor/bin/phpunit